body{
    margin: 0;
}

header{
    overflow: auto;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    color: white;
    font-family:"calibri";
    text-align: space-around;
}

header div{
    display: flex;
    align-items:center;
}

header input{
    height: 30px;
    border: 0;
    width: 250px;
    border-radius: 10px;
    display: none;
    
    
}

header img{
    width: 45px;
    padding: 10px;
    border-radius: 100%;
    background-color: ivory;
}
.principal {
    width: 
}

.principal > div:nth-child(1){
    width: 100%;
    
}

.principal > div:nth-child(2){
    width: 100%;
}
.principal > div:nth-child(3){
    width: 100%;
}

.principal .destaque img{
    width: 100%;
}

    @media (min-width: 768px){
    header input{
        display: block;
    }
    header img{
        margin-left:-25px;
    }


.principal{
    display: flex;
    align-items: center; 
}
.principal > div:nth-child(1){
    width: 100%;
}

.principal > div:nth-child(2){
    width: 100%;
}
.principal > div:nth-child(2){
    width: 100%;
}
    }